.header {
  position: fixed;
  left: 250px;
  top: 0;
  width: calc(100% - 250px);
  z-index: 10;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  &__menu {
    display: block;
    visibility: hidden;
    width: 45px;
    height: 45px;
    opacity: 0;
    border-radius: 50%;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    padding: 0 20px;
  }
  &__logout {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    & i {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: #fffaf0 url("/assets/img/icons/logout.svg") no-repeat center;
      background-size: 30px;
      border: none;

      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .header {
    width: 100%;
    left: 0;
    &__menu {
      visibility: visible;
      border: none;
      opacity: 1;
      background: #fffaf0 url("/assets/img/icons/menu.svg") no-repeat center;
      background-size: 27px;
    }
  }
}
