.news {
  &__mt {
    margin-top: 60px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
  }
  &__col {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;
    position: relative;
  }
  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("/assets/img/icons/close.svg") no-repeat center;
    background-size: contain;
  }
  &__title {
    font-size: 21px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__speaker {
    font-size: 14px;
    color: #333;
    & span {
      text-decoration: underline;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    & span {
      font-size: 14px;
      text-decoration: underline;
      word-wrap: break-word;
    }
  }
  &__video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    margin-bottom: 30px;
    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__description {
    position: relative;
    display: block;
    padding: 5px 15px;
    background: #fff;
    border-radius: 4px;
    & span {
      position: relative;
      display: inline;
      padding: 0 10px;
      word-wrap: break-word;
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-75%, -50%);
        width: 20px;
        height: 20px;
        background: url("/assets/img/icons/left-quote-sketch.svg") no-repeat center;
        background-size: contain;
      }
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        bottom: 0;
        right: 0;
        position: absolute;
        transform: rotate(180deg) translate(-75%, 50%);
        background: url("/assets/img/icons/left-quote-sketch.svg") no-repeat center;
        background-size: contain;
      }
    }
  }
}

.details {
  &__title {
    font-size: 42px;
    line-height: 50px;
    font-weight: 900;
    color: #073763;
    margin-top: 0;
    margin-bottom: 30px;
    &_center {
      text-align: center;
    }
  }
}

@media screen and (max-width: 991px) {
  .news__col {
    width: 100%;
  }
}
